<div class="container">
  <h4>　新規会員登録　</h4>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
    <table class="table border-less">
      <tr>
        <th>名前</th>
        <td><%= f.label :"(姓)" %></td>
        <td>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </td>
          <td><%= f.label :"(名)" %></td>
        <td>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= f.label :"(セイ)" %></td>
        <td>
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
        </td>
        <td><%= f.label :"(メイ)" %></td>
        <td>
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
        </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th>郵便番号(ハイフンなし)</th>
        <td></td>
        <td><%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code" %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td></td>
        <td><%= f.text_field :address, autofocus: true, autocomplete: "address" , size: "40"%></td>
      </tr>
      <tr>
        <th>電話番号(ハイフンなし)</th>
        <td></td>
        <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
      </tr>
      <tr>
        <th>パスワード
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </th>
        <td></td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <th>パスワード(確認用)</th>
        <td></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td><%= f.submit "新規登録" %></td>
      </tr>
    </table>
    <% end %>
  </div>
  <h4>すでに登録済みの方</h4>
    <p><%= link_to "　こちら　", new_customer_session_path %>からログインしてください</p>
  
</div>