<div class="container mt-5 mb-5">
  <div class="row  my-3">
    <h4><strong> 商品詳細 </strong></h4>
  </div>
  <div class="row text-center text-xs-center text-sm-left text-md-left ">
    <div class="col-xs-12 col-sm-6 col-md-6 mx-auto text-left">
      <% if @product.product_image.attached? %>
        <%= image_tag @product.product_image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 item-details mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>商品名</th>
          <td><h4><strong><%= @product.name %></strong></h4></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><h4><%= simple_format(@product.description)%></h4></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><h5><%= @product.genre.name %></h5></td>
        </tr>
        <tr>
          <th>税込価格<br>（税抜価格）</th>
          <td><h3><%= (@product.price * 1.1).floor %> (<%= (@product.price * 1.1).floor %>)円</h3></td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td><%  if @product.is_active == true %>
                <h4 class="text-success"><strong>販売中</strong></h4>
              <% else %>
                <h3 class="text-danger">販売停止中</h3>
              <% end %>
          </td>
        </tr>
      </table>
      <%= link_to "編集する", edit_admin_product_path, class:"btn btn-success" %>
    </div>
  </div>
</div>