<div class="col-xs-12 col-sm-6 col-md-6 mx-auto text-right">
  <% if @product.product_image.attached? %>
    <%= image_tag @product.product_image, style: "width: 60%" %>
  <% else %>
    <%= image_tag 'no_image', style: "width: 60%" %>
  <% end %>
</div>
<h2><strong><%= @product.name %></strong></h2>
<h4><%= simple_format(@product.description)%></h4>
<%  if @product.is_active == true %>
  <p>販売中</p>
  <h3>¥ <%= (@product.price * 1.1).floor %> (税込)</h3>
<% else %>
  <h3>販売停止中</h3>
<% end %>
<%= link_to "編集する", edit_admin_product_path, class:"btn btn-success" %>