<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mx-4 ml-5">注文情報入力</h4>

      <%= form_with model: @order, url: confirm_orders_path, method: :post do |f| %>

      <h5 class="my-2"><strong>支払い方法</strong></h5>

        <label class="mx-0 ml-4">
          <%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method_credit_card, "クレジットカード" %><br>

          <%= f.radio_button :payment_method, "transfer" %>
          <%= f.label :payment_method_transfer, "銀行振込" %>
        </label>

      <h5 class="my-2"><strong>お届け先</strong></h5>

        <label class="mx-0 ml-4">
          <%= f.radio_button :select_address, 0 %>
          <%= f.label :address_number_0, "ご自身の住所" %>
        </label>

        <label class="mx-0 ml-6">
          〒<%= current_customer.zip_code %><%= current_customer.address %><br>
          <%= current_customer.last_name %><%= current_customer.first_name %>
        </label>

        <label class="mx-0 ml-4">
          <%= f.radio_button :select_address, 1 %>
          <%= f.label :address_number_1, "登録済み住所から選択" %>
        </label>

        <label class="mx-0 ml-6">
          <%= f.collection_select(:registration_shipping, @shippings, :id, :zip_code_and_address_and_name, {}, {class: "form-control"}) %>
        </label>

        <label class="mx-0 ml-4">
          <%= f.radio_button :select_address, 2 %>
          <%= f.label :address_number_2, "新しいお届け先" %>
        </label>

        <div class="form-group row mb-2 mt-2 px-4">
          <div class="col-md-5">
            <%= f.label :ship_zip_code, "郵便番号(ハイフンなし)" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :ship_zip_code, placeholder: "0000000" ,class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-2 mt-2 px-4">
          <div class="col-md-5">
            <%= f.label :ship_address, "住所" %>
          </div>
          <div class="col-md-7">
            <%= f.text_field :ship_address, placeholder: "東京都渋谷区代々木神園町0-0" ,class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-2 mt-2 px-4">
          <div class="col-md-5">
            <%= f.label :ship_name, "宛名" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :ship_name, placeholder: "令和道子", class: "form-control" %>
          </div>
        </div>

    </div>
  </div>
  <div class="text-center mt-4">
    <%= f.submit "確認画面へ進む", class: "btn", style: "background-color: #1A120B; color: #E5E5CB;" %>
  </div>

      <% end %>

</div>
