<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @item.product_image, width: "60%", format: "jpeg", fallback: "no_image.jpg" %>
    </div>
    <div class="col">
      <h3><strong><%= @item.name %></strong></h3>
      <%= @item.description %>
      <% if @item.is_active == true %>
        <h4>¥ <%= (@item.price * 1.1).floor %>（税込）</h4>
        <%= form_with model: @cart_item, local:true do |f| %>
          <%= f.hidden_field :product_id, :value => @item.id %>
          <%= f.select :quantity, *[1..10]  %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      <% else %>
        <h4>販売停止中です</h4>
      <% end %>
    </div>
  </div>
</div>