<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/dd78c21fb3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="navbar-nav ml-auto">
        <h1>LOGO</h1>
        <li>
          <i>About</i>
        </li>
        <li>
          <i>商品一覧</i>
        </li>
        <li>
          <i>新規登録</i>
        </li>
        <li>
          <i>ログイン</i>
        </li>
      </ul>
    
    <%= yield %>
  </body>
</html>
